* {
  box-sizing: border-box;
}

button {
  display: block;
}

p {
  padding: 0px 20px;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
}

.getdata {
  background-color: yellow;
  display: inline-block;
  margin-left: 20px;
  margin-top: 10px;
}
